---
title: Cory Zapatka
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  projects:
    title: Projects
    output: true
    permalink: "/projects/:path/"
  uploads:
    title: Uploads
    output: true
email: czapatka@gmail.com
description: Offline Editor
footer: Cory Zapatka &copy; 2016
baseurl: ''
url: http://coryzapatka.com
permalink: "/:path/"
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
include:
- _pages
sass:
  sass_dir: assets/sass
  style: :compressed
exclude:
- Gemfile
- Gemfile.lock
- package.json
- README.md
- CNAME
- node_modules
- gulpfile.js
gems:
- jekyll-feed
- jekyll-sitemap
