---
title: Cory Zapatka
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  projects:
    title: Projects
    output: true
    permalink: "/projects/:path/"
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: projects
  values:
    layout: project
    project_date: 
    description: ''
- scope:
    path: ''
    type: pages
  values:
    layout: page
    permalink: /:path/
- scope:
    path: ''
    type: posts
  values:
    layout: post
    permalink: /blog/:path/
email: czapatka@gmail.com
description: Offline Editor
footer: Cory Zapatka &copy; 2016
baseurl: 
url: http://coryzapatka.com
permalink: "/:path/"
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
sass:
  sass_dir: assets/sass
  style: compressed
exclude:
- Gemfile
- Gemfile.lock
- package.json
- README.md
- CNAME
- node_modules
- gulpfile.js
gems:
- jekyll-feed
- jekyll-sitemap
- octopress-paginate
has_blog: true
