<aside class="sidebar">
	<label class="toggle btn" for="menu-toggle">Menu +</label>
	<input type="checkbox" name="menu-toggle" id="menu-toggle" class="toggle-input">
	<div class="toggle-group">
		<div class="list-group-wrap">
			<div class="list-group">
				<h3 class="label is-marginless">Projects</h3>
				<ul class="is-unstyled">
					<li class="is-active"><a href="#">Project</a></li>
					<li><a href="#">Project</a></li>
					<li><a href="#">Project</a></li>
					<li><a href="#">Project</a></li>
					<li><a href="#">Project</a></li>
					<li><a href="#">Project</a></li>
				</ul>
			</div>
			<div class="list-group">
				<h3 class="label is-marginless">More</h3>
				<ul class="is-unstyled">
					<li><a href="#">Clients</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</aside>
