{% assign projects = site.projects | sort: 'position' %}
{% assign pages = site.pages | where:"is_sticky","true" | sort: "position" %}
<aside class="sidebar">
	<label class="toggle btn" for="menu-toggle">Menu +</label>
	<input type="checkbox" name="menu-toggle" id="menu-toggle" class="toggle-input">
	<div class="toggle-group">
		<div class="list-group-wrap">
			<div class="list-group">
				<h3 class="label is-marginless">Projects</h3>
				<ul class="is-unstyled">
					{% for project in projects %}
						<li><a href="{{project.url | prepend: site.baseurl }}">{{project.title}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="list-group">
				<h3 class="label is-marginless">More</h3>
				<ul class="is-unstyled">
					{% for page in pages %}
						{% if page.url != "/" and page.title %}
						<li><a href="{{page.url | prepend: site.baseurl }}">{{page.title}}</a></li>
						{% endif %}
					{% endfor %}
					<li><a href="{{site.baseurl}}/blog">Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</aside>
