---
layout: default
---

{% assign projects = site.projects | sort: 'position' %}
{% assign pages = site.pages | sort:'position' %}
<article class="project">
	<div class="columns project-meta">
		<div class="column is-small">
			<p class="label is-marginless">Project Date</p>
			<p>{{page.project_date | date: '%B, %Y' | default: "N/A"}}</p>
		</div>
		<div class="column">			
			<header class="project-header">
				<h1 class="project-name is-marginless is-h3"><a href="{{site.baseurl}}{{page.permalink}}" class="link-clean">{{page.title}}</a></h1>
				<div class="project-description">{{page.description | markdownify}}</div>
			</header>
		</div>
	</div>
	<div class="columns project-nav">
		<div class="column is-small">
			<p class="label is-marginless">Project #</p>
			{% assign projects_size = projects | size %}
			<p>{{page.position | plus: 1}}/{{projects_size}}</p>
		</div>
		<div class="column">
			<ul class="is-unstyled">
				{% assign next = page.position | plus: 1 %}
				{% assign next_project = site.projects | where:"position",next | first %}

				{% assign previous = page.position | minus: 1 %}
				{% assign previous_project = site.projects | where:"position",previous | first %}

				{% if next_project.title %}
					<li><a href="{{next_project.url | prepend: site.baseurl }}">Next Project:</a> &rarr; {{next_project.title}}</li>
				{% endif %}
				{% if page.position != 0 and page.title %}
					<li><a href="{{previous_project.url | prepend: site.baseurl }}">Previous Project:</a> &larr; {{previous_project.title}}</li>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="columns project-body has-padding-top-small">
		<div class="column is-offset-small">
			{{ content }}
		</div>
	</div>
</article>