---
layout: default
---

{% assign projects = site.projects | sort: 'position' %}
{% assign pages = site.pages | sort:'position' %}
<article class="project">
	<div class="columns project-meta">
		<div class="column is-small">
			<p class="label is-marginless">Project Date</p>
			<p>{{page.project_date | date: '%B, %Y' | default: "N/A"}}</p>
		</div>
		<div class="column">			
			<header class="project-header">
				<h2 class="project-name is-marginless is-h3"><a href="{{page.permalink}}">{{page.title}}</a></h2>
				<p class="project-description">{{page.description}}</p>
			</header>
		</div>
	</div>
	<div class="columns project-nav">
		<div class="column is-small">
			<p class="label is-marginless">Project #</p>
			{% assign projects_size = projects | size %}
			<p>{{page.position | plus: 1}}/{{projects_size}}</p>
		</div>
		<div class="column">
			<ul class="is-unstyled">
				{% assign next = page.position | plus: 1 %}
				{% assign next_project = site.projects[next] %}
				{% assign previous = page.position | minus: 1 %}
				{% assign previous_project = site.projects[previous] %}
				{% if next_project.title %}
					<li><a href="{{site.projects[next].url}}">Next Project:</a> &rarr; {{site.projects[next].title}}</li>
				{% endif %}
				{% if page.position != 0 %}
					<li><a href="{{site.projects[previous].url}}">Previous Project:</a> &larr; {{site.projects[previous].title}}</li>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="columns project-body has-padding-top-small">
		<div class="column is-offset-small">
			{{ content }}
		</div>
	</div>
</article>